.retreat-card {
  background-color: #d1d4c7;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
  overflow: hidden;
}

.retreat-image {
  width: 60%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  max-height: 150px;
}

.retreat-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.retreat-title {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.retreat-description {
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.retreat-info p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .retreat-card {
    width: calc(100% - 40px);
    padding: 15px;
  }

  .retreat-image {
    width: 100%; 
    max-height: 200px; 
  }

  .retreat-title {
    font-size: 22px; 
  }

  .retreat-description {
    font-size: 16px; 
  }

  .retreat-info p {
    margin: 2px; 
  }
}
