* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

 body {
  width: 100%;
  overflow-x: hidden; 
}

.app {
  font-family: Arial, sans-serif;
}


.retreats-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .retreats-container {
    flex-direction: column;
    overflow-x: hidden;
  }

  .retreat-card {
    width: 100%;
    margin: 10px 0;
  }
}
